ellipsis()
  overflow: hidden
  white-space: nowrap
  text-overflow: ellipsis
pageHeader()
	height:.86rem
	line-height .86rem
	background:$bgColor
	display:flex
	text-align center 
	color:#fff
headerLeft()
	width:.64rem
	margin-left .2rem
	float:left
	color #fff